<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="shortcut icon" type="image/png" href="css/img/lcclogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma-0.7.1/css/bulma.css">
    <link rel="stylesheet" href="css/bulma-0.7.1/css/bulma.css.map">
    <script src="scripts/vue.js"></script>
    <script src="scripts/axios-master/dist/axios.min.js"></script>
    <style>
        #myapp {
            padding: 50px;
        }
        @media screen and (max-width: 1000px) {
            #myapp {
                padding: 0 !important;
            }
            .input {
                width:  45% !important;
            }
        }
    </style>
</head>

<body>
    <div id="myapp">
        <button type="button" class="button is-primary" @click='allRecords()'>Fetch all records</button>
        <div><br>
        <button type="button" class="button is-info" @click='selectByRecords()'>Search records... </button>
            <input type="text" class="input" style="width:  10%" v-model="ID" name="ID" placeholder="input user ID">
        </div>
        <center> <br>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>YearSectionORAddress</th>
                    <th>MobileNumber</th>
                    <th>ShirtName</th>
                    <th>ShirtType</th>
                    <th>ShirtSize</th>
                    <th>Quantity</th>
                    <th>OIG</th>
                    <th>Status</th>
                </tr>

                <tr v-for="order in orders">
                    <td>{{order.ID}}</td>
                    <td>{{ order.Name }}</td>
                    <td>{{ order.YearSectionORAddress }}</td>
                    <td>{{ order.MobileNumber }}</td>
                    <td>{{ order.ShirtName }}</td>
                    <td>{{order.ShirtType}}</td>
                    <td>{{ order.ShirtSize }}</td>
                    <td>{{ order.Quantity }}</td>
                    <td>{{ order.OIG }}</td>
                    <td>{{ order.Status }}</td>
                </tr>
            </table></center>
            <br><br>
            <form action="scripts/successStatusSQL.php">
                <button type="submit" value="submit" name="ready" class="button is-success">Update status to "ready for pick-up/delivery"</button>
                <input type="text" class="input" name="IDNo" style="width: 10%" placeholder="input ID">
            </form><br>
            <form action="scripts/pendingStatusSQL.php">
                <button type="submit" value="submit" name="ready" class="button is-danger">Update status to "pending"</button>
                <input type="text" class="input" name="IDNo" style="width: 10%" placeholder="input ID">
            </form>
            </div>
    <script>
        let app = new Vue({
            el: '#myapp',
            data: {
                orders: "",
                ID: "00000"
            },
            methods: {
                allRecords: function() {

                    axios.get('scripts/ajax.php')
                        .then(function(response) {
                            app.orders = response.data;
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                },
                selectByRecords: function() {
                    if (this.ID > 0) {

                        axios.get('scripts/ajax.php', {
                                params: {
                                    ID: this.ID
                                }
                            })
                            .then(function(response) {
                                app.orders = response.data;
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                    }
                }
            }
        })

    </script>
</body>

</html>
