<!DOCTYPE html>
<html>

<head>
    <title>track your order</title>
    <link rel="shortcut icon" type="image/png" href="css/img/lcclogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma-0.7.1/css/bulma.css">
    <link rel="stylesheet" href="css/bulma-0.7.1/css/bulma.css.map">
    <script src="scripts/vue.js"></script>
    <script src="scripts/axios-master/dist/axios.min.js"></script>
    <style>
        #track {
            padding: 50px;
        }

        html {
            background-color: aquamarine
        }

        .input {
            width: 20%;
            display: block
        }

        @media screen and (max-width: 1000px) {
            #track {
                padding: 0 !important;
            }

            .input {
                width: 50%;
            }
        }

    </style>
</head>

<body>
    <p style="color: red">If you want to cancel your order, please visit the IMC Office in the BED Library or drop us a message on <a href="https://www.facebook.com/IMLCCBAIS">facebook</a>.</p>
    <div id="track">
        <center> <br>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>YearSection/Address</th>
                    <th>Mobile Number</th>
                    <th>Shirt Name</th>
                    <th>Shirt Type</th>
                    <th>Shirt Size</th>
                    <th>Quantity</th>
                    <th>OIG</th>
                    <th>Status</th>
                </tr>

                <tr v-for="order in orders">
                    <td>{{order.ID}}</td>
                    <td>{{ order.Name }}</td>
                    <td>{{ order.YearSectionORAddress }}</td>
                    <td>{{ order.MobileNumber }}</td>
                    <td>{{ order.ShirtName }}</td>
                    <td>{{order.ShirtType}}</td>
                    <td>{{ order.ShirtSize }}</td>
                    <td>{{ order.Quantity }}</td>
                    <td>{{ order.OIG }}</td>
                    <td>{{ order.Status }}</td>
                </tr>
            </table><br><br>
            <label class="label">OIG</label><input type="text" class="input" v-model="OIG" name="OIG" placeholder="e.g MAZU0000000">
            <label class="label">Shirt Type</label><input type="text" class="input" v-model="ShirtType" name="ShirtType" placeholder="e.g TRSNG, HL ...">
            <label class="label">ID</label><input type="text" class="input" v-model="ID" name="ID" placeholder="e.g 00001, 00002 ...">
            <button class="button is-primary" @click='trackIt()'>Track Order</button>
        </center>
    </div>

    <script>
        let app = new Vue({
            el: '#track',
            data: {
                orders: "",
                OIG: "",
                ShirtType: "",
                ID: ""
            },
            methods: {
                trackIt: function() {
                    axios.get('scripts/orderTrack.php', {
                            params: {
                                ID: this.ID,
                                OIG: this.OIG,
                                ShirtType: this.ShirtType
                            }
                        })
                        .then(function(response) {
                            app.orders = response.data;
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                }
            }
        })

    </script>
</body>

</html>
